.grid {
    border: 2px solid black;
    margin: auto;
    margin-top: 60px;
    max-width: 960px;
    display: flex;
}

.column {
    flex-direction: column;
    flex: 1 0 10px;
}

.square {
    aspect-ratio: 1/1;
}

button {
    margin: 30px;
    font-size: 20px;
}