.grid {
    margin: auto;
    margin-top: 60px;
    max-width: 600px;
    display: flex;
}

.column {
    flex-direction: column;
    flex: 1 0 30px;
}

.square {
    border: 2px solid black;
    margin: 2px;
    aspect-ratio: 1/1;
}